<html lang="en-us">

<head>
        <title>Add question</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">


        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
        <script type="text/javascript" src="/static/admin/js/collapse.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/inlines.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script type="text/javascript" src="/static/admin/js/actions.js"></script>
        <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
        <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-polls model-question change-form" data-admin-utc-offset="0">
        <!-- Container -->
        <div id="container">
                <!-- Content -->
                <div id="content" class="colM">
                        <h1>Add question</h1>
                        <div id="content-main">
                                <form action="{% url 'polls:save_question' %}" method="post" id="question_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="OZJDuGpU84FVWEFXAOqF2fJrUYfOMfjg3vYZa1qB5Nf4BNvNSsqppqfzUDuA2KbB">
                                        {% csrf_token %}
                                        <div>
                                                <fieldset class="module aligned">
                                                        <div class="form-row field-question_text">
                                                                <div>
                                                                        <label class="required" for="id_question_text">Question text: </label>
                                                                        <input type="text" name="question_text"
                                                                                class="vTextField" maxlength="200"
                                                                                required="" id="id_question_text">
                                                                </div>
                                                        </div>
                                                </fieldset>
                                                <div class="js-inline-admin-formset inline-group" id="choice_set-group"
                                                        data-inline-type="stacked"
                                                        data-inline-formset="{&quot;name&quot;: &quot;#choice_set&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;choice_set&quot;, &quot;addText&quot;: &quot;Add another Choice&quot;, &quot;deleteText&quot;: &quot;Remove&quot;}}">
                                                        <fieldset class="module ">
                                                                <input type="hidden" name="choice_set-TOTAL_FORMS" value="3" id="id_choice_set-TOTAL_FORMS" autocomplete="off">
                                                                <input type="hidden" name="choice_set-INITIAL_FORMS" value="0" id="id_choice_set-INITIAL_FORMS">
                                                                <input type="hidden" name="choice_set-MIN_NUM_FORMS" value="0" id="id_choice_set-MIN_NUM_FORMS">
                                                                <input type="hidden" name="choice_set-MAX_NUM_FORMS" value="1000" id="id_choice_set-MAX_NUM_FORMS" autocomplete="off">

                                                                <h2>Choices</h2>

                                                                <div class="inline-related dynamic-choice_set" id="choice_set-0">
                                                                        <h3><b>Choice:</b>&nbsp;<span class="inline_label">#1</span></h3>
                                                                        <fieldset class="module aligned ">
                                                                                <div class="form-row field-choice_text">
                                                                                        <div>
                                                                                                <label class="required" for="id_choice_set-0-choice_text">Choice text:</label>
                                                                                                <input type="text"
                                                                                                        name="choice_set-0-choice_text"
                                                                                                        class="vTextField"
                                                                                                        maxlength="200"
                                                                                                        id="id_choice_set-0-choice_text">
                                                                                        </div>
                                                                                </div>
                                                                        </fieldset>
                                                                        <input type="hidden" name="choice_set-0-id" id="id_choice_set-0-id">
                                                                        <input type="hidden" name="choice_set-0-question" id="id_choice_set-0-question">
                                                                </div>
                                                                
                                                                <div class="inline-related dynamic-choice_set" id="choice_set-1">
                                                                        <h3><b>Choice:</b>&nbsp;<span class="inline_label">#2</span></h3>
                                                                        <fieldset class="module aligned ">
                                                                                <div class="form-row field-choice_text">
                                                                                        <div>
                                                                                                <label class="required" for="id_choice_set-1-choice_text">Choice text:</label>
                                                                                                <input type="text"
                                                                                                        name="choice_set-1-choice_text"
                                                                                                        class="vTextField"
                                                                                                        maxlength="200"
                                                                                                        id="id_choice_set-1-choice_text">
                                                                                        </div>
                                                                                </div>
                                                                        </fieldset>
                                                                        <input type="hidden" name="choice_set-1-id" id="id_choice_set-1-id">
                                                                        <input type="hidden" name="choice_set-1-question" id="id_choice_set-1-question">
                                                                </div>

                                                                <div class="inline-related dynamic-choice_set" id="choice_set-2">
                                                                        <h3><b>Choice:</b>&nbsp;<span class="inline_label">#3</span></h3>
                                                                        <fieldset class="module aligned ">
                                                                                <div class="form-row field-choice_text">
                                                                                        <div>
                                                                                                <label class="required" for="id_choice_set-2-choice_text">Choice text:</label>
                                                                                                <input type="text"
                                                                                                        name="choice_set-2-choice_text"
                                                                                                        class="vTextField"
                                                                                                        maxlength="200"
                                                                                                        id="id_choice_set-2-choice_text">
                                                                                        </div>
                                                                                </div>
                                                                        </fieldset>
                                                                        <input type="hidden" name="choice_set-2-id" id="id_choice_set-2-id">
                                                                        <input type="hidden" name="choice_set-2-question" id="id_choice_set-2-question">
                                                                </div>

                                                                <div class="inline-related empty-form last-related" id="choice_set-empty">
                                                                        <h3><b>Choice:</b>&nbsp;<span class="inline_label">#4</span></h3>
                                                                        <fieldset class="module aligned ">
                                                                                <div class="form-row field-choice_text">
                                                                                        <div>
                                                                                                <label class="required" for="id_choice_set-__prefix__-choice_text">Choice text:</label>
                                                                                                <input type="text"
                                                                                                        name="choice_set-__prefix__-choice_text"
                                                                                                        class="vTextField"
                                                                                                        maxlength="200"
                                                                                                        id="id_choice_set-__prefix__-choice_text">
                                                                                        </div>
                                                                                </div>
                                                                        </fieldset>
                                                                        <input type="hidden" name="choice_set-__prefix__-id" id="id_choice_set-__prefix__-id">
                                                                        <input type="hidden" name="choice_set-__prefix__-question" id="id_choice_set-__prefix__-question">
                                                                </div>
                                                        </fieldset>
                                                </div>

                                                <div class="submit-row">
                                                        <input type="submit" value="Save" class="default" name="_save">
                                                </div>

                                                <script type="text/javascript" id="django-admin-form-add-constants"
                                                        src="/static/admin/js/change_form.js"
                                                        data-model-name="question">
                                                </script>
                                                
                                                <script type="text/javascript"
                                                        id="django-admin-prepopulated-fields-constants"
                                                        src="/static/admin/js/prepopulate_init.js"
                                                        data-prepopulated-fields="[]">
                                                </script>
                                        </div>
                                </form>
                        </div>
                        <br class="clear">
                </div>
        </div>
</body>

</html>